
.nav {
  background-color: white;
  shape-outside: linear-gradient(250, 0, 0);
}
.nav-logo{
  height: 80px;
}

section{
  max-height: 25%;
  height: 250px;
}

#hero{
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-position: center;
}

.info-text{
  background-color: yellow;
}
.info-graphic{
  background-color: red;
}
