
.nav {
  background-color: white;
  shape-outside: linear-gradient(250, 0, 0);
}
.nav-logo{
  height: 80px;
  margin-left: 20px;
}

.btn-signup{
  margin-right: 20px;
}

section{
  background-color: white;
}
section img{
  height: 400px;
}

#hero{
  background-image: url('/img/hero-bg-1024-2x.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
}
.chevron-btn{

}

.info-text{
  /*background-color: yellow;*/
}
.info-graphic{
  background-color: white;
  text-align: center;
}
