
.nav {
  background-color: white;
  shape-outside: linear-gradient(250, 0, 0);
}
.nav-logo{
  height: 80px;
  margin-left: 20px;
}

.btn-signup{
  margin-right: 20px;
}

section{
  background-color: white;
}
section img{
  height: 400px;
}

#hero{
  background-image: url('/img/hero-bg-1024-2x.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
}

#hero-form-btn{
  height: 70px;
  width: 70px;

  position: absolute;
  top: 435px;
  right: 50%;
  color: black;
  background-color: rgba(255, 255, 255, 0.95);
}
#hero-form-fab{
    text-align: center;
    display: block;
    height: 0px;
}

.chevron-btn{

}

.info-text{
  /*background-color: yellow;*/
}
.info-graphic{
  background-color: white;
  text-align: center;
}
