<md-card class="form-success md-primary" layout="column" layout-align="center center">
<div layout="row">
	<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" viewBox="0 0 52 52">
	<circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
</svg>
<h2 class="md-display-1" style="padding: 5px auto; text-align:center; margin-left:10px;">Success</h2>
</div>
<h3 class="md-subhead-1">We will notify you when we launch!</h3>
</div>
</md-card>
