<div id="form" layout="column">
	<span class="md-display-1" style="padding:5px;"> About us</span>
	<span class="md-body-2" style="padding: 20px;">
		We’re a small startup based out of StartupLab at Forskningsparken in Oslo. We are working really hard to build the first version of .Mutual. If you’re interested in trying .Mutual’s verified profiles, please share your email address with us.
	</span>
	<div class="md-form" layout-align="center center">
		<!-- <span class="md-display-1" style="margin: 0 auto;"> Join the waitlist</span> -->
		<br><br>
		<md-input-container class="md-block" layout="row">
		<!-- Use floating placeholder instead of label -->
		<md-icon  class="material-icons">email</md-icon>
		<input ng-model="user.email" type="email" style="padding-left: 10px;" placeholder="Email (required)" name="email" ng-required="true">
		<flex/>
		</md-input-container>
		<md-input-container layout="row">
		<md-button class="md-primary md-raised" id="submit" ng-disabled="!user.email" ng-click="signup()">Join the waitlist</md-button>
		</md-input-container>
	</div>
</div>
